@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@200;300;400;500;600;700;800;900&family=Lexend:wght@400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    background-color: black;
}

/* navigation bar style */
header {
    padding: 32px 164px;
}

nav {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.left-nav-col {
    width: 70%;
    color: white;
}

.burgerBtn {
    display: none;
}

.right-nav-col {
    width: 30%;
}

.right-nav-col ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.right-nav-col ul li a:hover {
    color: #059dc3;
}

.active {
    color: #059dc3;
}

ul,
li,
a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px) {
    nav {
        overflow: hidden;
        display: block;
        align-items: center;
    }

    header {
        padding: 16px 32px;
    }

    .left-nav-col,
    .right-nav-col {
        width: 100%;
    }

    .right-nav-col ul {
        display: none;
    }

    /* ketika burgerBtn di tekan ditambahkan kelas baru */
    .expand {
        display: block;
    }

    .left-nav-col {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burgerBtn {
        display: block;
    }

    .right-nav-col ul li {
        margin-top: 30px;
        height: 30px;
    }
}


/* hero style */
.hero {
    background-image: url(../assets/img/heroSection.svg);
    background-size: cover;
    height: 582px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    height: 582px;
    left: 0px;
    top: 96px;
}

.bigText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 920px;
}

.bigText h1 {
    font-size: 56px;
    width: 820px;
    text-align: center;
}

.bigText p {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}


.signBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;

    width: 152px;
    height: 42px;

    background: #059dc3;
    border-radius: 8px;
}

.signBtn p {
    font-size: 18px;
    font-style: bold;
    font-weight: 700;
}