@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@200;300;400;500;600;700;800;900&family=Lexend:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1140px;
    height: 76px;
    left: 150px;
    top: 40px;
}

.left-nav-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    height: 76px;
}


.right-nav-col ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 505px;
    height: 76px;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

.right-nav-col li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 92px;
    height: 51px;
}